<html>
<body>
    <form action="/" method="POST">
        <div>
            <label for="origem">Origem:</label>
            <input name="origem" value=""/>
        </div>
        <br/>
        <div>
            <label for="destino">Destino:</label>
            <input name="destino" value=""/>
        </div>
        <br/>
        <button type="submit">Envia</button>
    </form>
</body>
</html>